---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import PainCycle from '../../components/PainCycle.astro';
import Solution from '../../components/Solution.astro';
import BusinessModel from '../../components/BusinessModel.astro';
import Authority from '../../components/Authority.astro';
import FAQ from '../../components/FAQ';
import ContactForm from '../../components/ContactForm';
---

<Layout>
  <div class="max-w-7xl mx-auto px-6 pt-6">
    <a href="/" class="inline-block border border-gray-700 text-xs font-bold uppercase tracking-widest text-gray-300 px-4 py-2 hover:bg-white hover:text-black">← Voltar para Home</a>
  </div>
  <Hero />
  <PainCycle />
  <Solution />
  <BusinessModel />
  <Authority />
  <FAQ client:visible />
  <ContactForm client:load />
</Layout>
